@font-face {
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu-Regular.ttf) format("truetype");
}

body {
  display: none;
  margin: 0;
  margin-bottom: 120px;
  font-family: "Ubuntu";
}
#nav {
  width: 100%;
  height: 58px;
  background-color: #efefef;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#titleNav h3 {
  font-family: "Ubuntu";
  color: #e88046;
}

#seta {
  padding-right: 2rem;
  height: 23px;
  width: 23px;
}

/* #logo{
   margin-left: 35%;
   padding-top: 10px;
}*/

#modonoturno {
  padding-left: 2rem;
}

#pesquisar {
  margin-inline: 2rem;
  padding-top: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#pesquisa {
  border: none;
  padding-left: 10px;
  background-color: transparent;
}

.perfil-infos {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#perfil-info {
  background-color: #efefef;
  width: 300px;
  height: 412px;
}
/* #perfil-info img {
    margin-right: 10px; 
} */

/* #perfil1{
    margin-left: 24px;
} */

/* #salvar{
    display: flex;
    justify-self: end;
    margin-right: 23px;
} */

#imagem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-infos2 {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#perfil-info2 {
  background-color: #efefef;
  width: 300px;
  height: 412px;
}
/* #perfil2{
    margin-left: 24px;
} */
#imagem2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perfil-infos3 {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#perfil-info3 {
  background-color: #efefef;
  width: 300px;
  height: 412px;
}
/* #perfil3{
    margin-left: 24px;
} */
#imagem3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perfil-infos4 {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#perfil-info4 {
  background-color: #efefef;
  width: 300px;
  height: 412px;
  margin-top: -50px;
  z-index: 1;
}
/* #perfil4{
    margin-left: 24px;
} */
#imagem4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foosen {
  background-color: #efefef;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  align-items: center;
}

#icons {
  height: 26px;
  width: 26px;
}

#nome1,
#nome2,
#nome3,
#nome4 {
  color: #e88046;
  font-size: 23px;
}
