:root{
    
}

html{
    height: 100%;
}

body{
    background: rgb(233,128,70);
    background: linear-gradient(180deg, rgba(233,128,70,1) 0%, rgba(240,152,81,1) 18%, rgba(242,158,83,1) 25%, rgba(252,188,97,1) 37%, rgba(206,213,179,1) 50%, rgba(188,222,211,1) 59%, rgba(162,214,196,1) 79%, rgba(181,225,210,1) 100%);
    height: 100%;
    background-repeat: no-repeat;
}
#wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#logo{
    height: 20rem;
    width: 20rem;
    background-color: aquamarine;
    
}

#login{
    display: flex;
    flex-direction: column;

    & #infos{
        display: flex;
        flex-direction: column;
    }

}